@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html{    background:url(https://images.search.yahoo.com/search/images;_ylt=AwrTcX7tO9ZY_boAh12JzbkF;_ylu=X3oDMTBsZ29xY3ZzBHNlYwNzZWFyY2gEc2xrA2J1dHRvbg--;_ylc=X1MDOTYwNjI4NTcEX3IDMgRhY3RuA2NsawRiY2sDNTJ2NnYyNWJ1cnVsbiUyNmIlM0QzJTI2cyUzRDliBGNzcmNwdmlkA1JtVzNIekl3Tmk1UmZOOFJWLjM2dHdlOU1URTFMZ0FBQUFEejdRcFIEZnIDdGlnaHRyb3BldGIEZnIyA3NhLWdwBGdwcmlkA2NpVUN4U3BsUk1TZF9ZTE5YTWFHdkEEbXRlc3RpZANudWxsBG5fc3VnZwMxBG9yaWdpbgNpbWFnZXMuc2VhcmNoLnlhaG9vLmNvbQRwb3MDMARwcXN0cgMEcHFzdHJsAwRxc3RybAMzMQRxdWVyeQNsaWdodCBiYWNrZ3JvdW5nIHBsYWluIHRleHR1cmVkBHRfc3RtcAMxNDkwNDM1MTAyBHZ0ZXN0aWQDbnVsbA--?gprid=ciUCxSplRMSd_YLNXMaGvA&pvid=RmW3HzIwNi5RfN8RV.36twe9MTE1LgAAAADz7QpR&p=light+backgroung+plain+textured&fr=tightropetb&fr2=sb-top-images.search.yahoo.com&ei=UTF-8&n=60&x=wrt#id=94&iurl=http%3A%2F%2Fwww.psdgraphics.com%2Ffile%2Fwooden-background.jpg&action=click) no-repeat;
  background-size: cover;
  height:100%;
}

#feedback-page{
  text-align:center;
}

#headline{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size:40px;
  
  position: relative;
  text-align: center;

}

#welcome{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size:34px;
  float: center;
  position: relative;
  text-align: center;

}

#form-main{
  width:100%;
  float:left;
  padding-top:0px;
}

#form-div {
  background-color:#F0FFFF;
  padding-left:35px;
  padding-right:35px;
  padding-top:35px;
  padding-bottom:50px;
  width: 450px;
  float: left;
  left: 50%;
  position: absolute;
  margin-top:30px;
  margin-left: -260px;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
}

.feedback-input {
  color:#F0FFFF;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #070303;
}

.feedback-input:focus{
  background: #fff;
  box-shadow: 0;
  border: 2px solid #070303;
  color: #F0FFFF;
  outline: all;
  padding: 13px 13px 13px 54px;
}

.focused{
  color:#F0FFFF;
  border:#707303 solid 2px;
}

/* Icons ---------------------------------- */
#name{
  background-image: url(https://images.search.yahoo.com/search/images;_ylt=AwrTcX3eQdVYvAEAnMGJzbkF;_ylu=X3oDMTBsZ29xY3ZzBHNlYwNzZWFyY2gEc2xrA2J1dHRvbg--;_ylc=X1MDOTYwNjI4NTcEX3IDMgRhY3RuA2NsawRiY2sDNTJ2NnYyNWJ1cnVsbiUyNmIlM0QzJTI2cyUzRDliBGNzcmNwdmlkA3NTc09UREl3Tmk1UmZOOFJWLjM2dHduNE1UQTJMZ0FBQUFBTVdHNXUEZnIDdGlnaHRyb3BldGIEZnIyA3NhLWdwBGdwcmlkA09odVdVYTNhUkxDSFFCSFVtLklOYkEEbXRlc3RpZANudWxsBG5fc3VnZwMxMARvcmlnaW4DaW1hZ2VzLnNlYXJjaC55YWhvby5jb20EcG9zAzAEcHFzdHIDBHBxc3RybAMEcXN0cmwDMTkEcXVlcnkDaW1hZ2VzIG9mIGdyb2NlcmllcwR0X3N0bXADMTQ5MDM3MTA5NQR2dGVzdGlkA251bGw-?gprid=OhuWUa3aRLCHQBHUm.INbA&pvid=sSsOTDIwNi5RfN8RV.36twn4MTA2LgAAAAAMWG5u&p=images+of+groceries&fr=tightropetb&fr2=sb-top-images.search.yahoo.com&ei=UTF-8&n=60&x=wrt#id=100&iurl=http%3A%2F%2Fimages.wisegeek.com%2Fwoman-with-cart-looking-at-canned-food-in-store.jpg&action=click);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#name:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#comment{
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color:white;
}

#button-blue{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float:left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor:pointer;
  background-color: #3498db;
  color:white;
  font-size:24px;
  padding-top:22px;
  padding-bottom:22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
  background-color: rgba(0,0,0,0);
  color: #0493bd;
}
  
.submit:hover {
  color: #3498db;
}
  
.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
  #form-div{
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}






